<section>
	<form>
		<fieldset>
			<input
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				data-template="true"
				id="login_signin_email"
				onfocus="this.removeAttribute('readonly');"
				placeholder="{{ __('email') }}"
				readonly="readonly"
				spellcheck="false"
				type="email"
				value="{{ model.login_signin_email }}"
			>
		</fieldset>
		<fieldset>
			<input
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				data-template="true"
				id="login_signin_password"
				placeholder="{{ __('password') }}"
				spellcheck="false"
				type="password"
				value="{{ model.login_signin_password }}"
			>
		</fieldset>
		<fieldset>
			<button
				id="login_signin_submit"
				type="button"
			>{{ __('sign in') }}</button>
		</fieldset>
	</form>
	<form>
		<fieldset>
			<input
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				data-template="true"
				id="login_signup_fullname"
				onfocus="this.removeAttribute('readonly');"
				placeholder="{{ __('fullname') }}"
				readonly="readonly"
				spellcheck="false"
				type="email"
				value="{{ model.login_signup_fullname }}"
			>
		</fieldset>
		<fieldset>
			<input
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				data-template="true"
				id="login_signup_email"
				onfocus="this.removeAttribute('readonly');"
				placeholder="{{ __('email') }}"
				readonly="readonly"
				spellcheck="false"
				type="email"
				value="{{ model.login_signup_email }}"
			>
		</fieldset>
		<fieldset>
			<input
				autocapitalize="off"
				autocomplete="off"
				autocorrect="off"
				data-template="true"
				id="login_signup_password"
				placeholder="{{ __('password') }}"
				spellcheck="false"
				type="password"
				value="{{ model.login_signup_password }}"
			>
		</fieldset>
		<fieldset>
			<button
				id="login_signup_submit"
				type="button"
			>{{ __('sign up') }}</button>
		</fieldset>
	</form>
</section>
