<section class="container sroll-view">
	<div class="row">
		<div class="col-md-12">
			<h1>{{ __("login header") }}</h1>
			<p>{{ __("login welcome") }}</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<form>
			<div class="col-md-3">
				<h2>{{ __('fullname') }}</h2>
				<div class="form-group">
					<input style="display:none">
					<input
						autocapitalize="off"
						autocomplete="off"
						autocorrect="off"
						class="form-control"
						data-template="true"
						id="login_signup_fullname"
						placeholder="{{ __('fullname') }}"
						spellcheck="false"
						type="email"
						value="{{ model.login_signup_fullname }}"
					>
				</div>
			</div>
			<div class="col-md-3">
				<h2>{{ __('email') }}</h2>
				<div class="form-group">
					<input style="display:none">
					<input
						autocapitalize="off"
						autocomplete="off"
						autocorrect="off"
						class="form-control"
						data-template="true"
						id="login_signup_email"
						placeholder="{{ __('email') }}"
						spellcheck="false"
						type="email"
						value="{{ model.login_signup_email }}"
					>
				</div>
			</div>
			<div class="col-md-3">
				<h2>{{ __('password') }}</h2>
				<p>
				<div class="form-group">
					<input style="display:none">
					<input
						autocapitalize="off"
						autocomplete="off"
						autocorrect="off"
						class="form-control"
						data-template="true"
						id="login_signup_password"
						placeholder="{{ __('password') }}"
						spellcheck="false"
						type="password"
						value="{{ model.login_signup_password }}"
					>
				</div>
				</p>
			</div>
			<div class="col-md-3">
				<h2>&nbsp;</h2>
				<div class="form-group">
					<button
						id="login_signup_submit"
						class="btn btn-success from-control"
						type="button"
					>{{ __('sign up') }}
					</button>
				</div>
			</div>
		</form>
	</div>
</section>
