<div class="container">

	<div class="row">
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>111</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>222</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
		<div class="col-md-4">
			<h2>Heading</h2>
			<p>333</p>
			<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
		</div>
	</div>

	<hr>

	<section>
		<form>
			<div class="form-group">
				<fieldset>
					<input
						autocapitalize="off"
						autocomplete="off"
						autocorrect="off"
						class="form-control"
						data-template="true"
						id="login_signup_fullname"
						onfocus="this.removeAttribute('readonly');"
						placeholder="{{ __('fullname') }}"
						readonly="readonly"
						spellcheck="false"
						type="email"
						value="{{ model.login_signup_fullname }}"
					>
				</fieldset>
				<fieldset>
					<input
						autocapitalize="off"
						autocomplete="off"
						autocorrect="off"
						class="form-control"
						data-template="true"
						id="login_signup_email"
						onfocus="this.removeAttribute('readonly');"
						placeholder="{{ __('email') }}"
						readonly="readonly"
						spellcheck="false"
						type="email"
						value="{{ model.login_signup_email }}"
					>
				</fieldset>
				<fieldset>
					<input
						autocapitalize="off"
						autocomplete="off"
						autocorrect="off"
						class="form-control"
						data-template="true"
						id="login_signup_password"
						onfocus="this.removeAttribute('readonly');"
						placeholder="{{ __('password') }}"
						readonly="readonly"
						spellcheck="false"
						type="password"
						value="{{ model.login_signup_password }}"
					>
				</fieldset>
				<fieldset>
					<button
						id="login_signup_submit"
						class="btn btn-success"
						type="button"
					>{{ __('sign up') }}
					</button>
				</fieldset>
			</div>
		</form>
	</section>
	<!--<footer><p>&copy; 2015 Company, Inc.</p></footer>-->
</div>
