@charset "utf-8";

@font-face {
	font-family: "Hack";
	font-style: normal;
	font-weight: 400;
	src: url("../font/hack/hack-regular-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Hack";
	font-style: normal;
	font-weight: 700;
	src: url("../font/hack/hack-bold-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Hack";
	font-style: italic;
	font-weight: 400;
	src: url("../font/hack/hack-italic-webfont.ttf") format("truetype");
}

@font-face {
	font-family: "Hack";
	font-style: italic;
	font-weight: 700;
	src: url("../font/hack/hack-bolditalic-webfont.ttf") format("truetype");
}
