@charset "utf-8";
@import "constants";
@import "mixins";
@import "rad";
@import "transitions";
@import "reset";
@import "font";
@import "popup.dialog";
@import "widget.spinner";

body {
	//font-family: system, -apple-system, "Share Tech Mono", monospace;
	font-family: "Hack", monospace;
}

#screen_main > ul {
	color: #fff;
	background-color: $color-pink;
	margin: 16px;
	padding: 8px;
}

.toast {
	top: 33% !important;
}
