@charset "utf-8";
@import "constants";
@import "mixins";
@import "rad";
@import "transitions";
@import "reset";
@import "font";
@import "popup.dialog";
@import "widget.spinner";

body {
	font-family: system, -apple-system, "Hack", monospace;
}

#screen_main > ul {
	color: #fff;
	background-color: $color-pink;
	margin: 16px;
	padding: 8px;
}

.toast {
	top: 33% !important;
}

.transition-overlay {
	background-color: rgba(0, 0, 0, .1);
}

body {
}

.jumbotron {
	background-color: rgb(240, 240, 240);
}

#screen {
	margin-top: 40px;
}

html {
	font-size: 18px;
}

body {
	font-size: 18px;
}

h1, .h1 {
	font-size: 36px
}

h2, .h2 {
	font-size: 32px
}

h3, .h3 {
	font-size: 28px
}

h4, .h4 {
	font-size: 24px
}

h5, .h5 {
	font-size: 20px
}

h6, .h6 {
	font-size: 16px
}
