<div id="widget-head"></div>
<div id="widget-info"></div>
<div id="widget-popup">
	<div id="widget-spin_wrapper">
		<div id="widget-spinner">
			<span class="before"></span>
			<span class="after"></span>
		</div>
	</div>
</div>
