doctype html
html
    head
        title #{project.name}
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,height=device-height,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no')
        meta(name='format-detection', content='telephone=no')
        script(src='index.js')
    body
        #screen